 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body {
  height: 100vh;
}

.App {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(0,0,0,.7);
}

.container {
  padding: 32px;
  margin: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0px rgba(0,0,0,0.1);
}

.column {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 8px 0;
}

 .flex-end {
   justify-content: flex-end;
}

.input-group > .label {
  width: 150px;
  font-size: inherit;
}

.input-group input  {
  flex: 1 1 auto;
  padding: 8px;
  font-size: 1rem;
}

button {
  cursor: pointer;
  font-size: 1rem;
}

.button {
  padding: 8px;
  color: #FF0266;
  background-color: white;
  border-radius: 8px;
  border: 2px solid #FF0266;
  transition: all .5s;
}

.button:hover, .input-group button:focus, .input-group button:active {
  background-color: #FF0266;
  color: white;
}

.button-icon {
  padding: 0;
  border: 0;
  margin: 0 8px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 5rem;
  margin-right: 16px;
  color: rgba(0,0,0,1);
}

.tag {
  font-size: .8rem;
  padding: 4px;
  font-weight: bold;
  border-radius: 4px;
}

.tag-created {
  background: yellow;
}

.tag-paid {
  background: pink;
}

.tag-delivered {
  background: aqua;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr td {
  padding: 8px 0;
  border-bottom: 1px solid #e5e5e5;

}

table tr td:nth-child(2) {
  padding-left: 8px;
  padding-right: 8px;
}

.loading {
  font-weight: bold;
  color:#FF0266;
}